.contact {
  padding-bottom: clamp(10rem, 8.301rem + 4.8544vw, 15rem);
}

.contact__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 13rem;
}
.contact__right {
  max-width: 62.4rem;
}

.contact__left {
  width: 100%;
  flex: 2;
  max-width: 62.4rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contactForm textarea {
  height: 13.9rem;
}

.contactForm button {
  max-width: 100% !important;
}
.contact__img {
  border-radius: 5px 5px 30rem 5px;
}

.send__btn {
  background: var(--color-primary);
  color: var(--btn-txt-color);
  transition: background 0.2s linear;
}
