.error {
  color: #dc4f4f;
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.3rem;
}

.input {
  position: relative;
}

.input input {
  width: 100%;
}
.errorIcon {
  position: absolute;
  right: 1rem !important;
  top: 50% !important;
  transform: translateY(-50%);
  z-index: 1;
}

.error {
  position: absolute;
  bottom: -16px;
  left: 4px;
}
