.category__item {
  height: 19rem;
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.category__item--bottom {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7.5px);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 26%;
  display: grid;
  place-items: center;
}
.category__item--title {
  font-weight: 600;
  color: var(--txt-color-white);
  text-transform: uppercase;
}
.category__item--img {
  object-fit: cover;
}
.category__item--top {
  cursor: pointer;
}
